/*import font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');


body {
  background-color: rgba(87, 85, 85, 0.097);
  opacity: 0;
  transform: translateY(50px);
  animation: slideDown 2s forwards;
}

.dashboard-title {
  font-size: 2em;
  margin-bottom: 20px;
  width: 90%;
  font-style: italic;
  font-weight: bold;
  color: #555;
}

h1{
  padding: 10px;
}

.dashboard-button {
  padding: 10px 20px;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #485869;
  background-color: white;
  color: #485869;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;

}

.dashboard-button:hover {
  background-color: #485869;
  color: #fff;
}

/*slidedown effect */
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

