.submit-feedback-container {
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
}

.submit-feedback-container button {
  font-family: 'Nunito', sans-serif;
  padding: 10px;
  background-color: white;
  color: #485869;
  border: 1px solid #485869;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.submit-feedback-container button:hover {
  background-color: #485869;
  color: white;
}