/* src/ForgotPassword.css */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');

/* Base styles */
.forgot-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 50vh;
  text-align: center;
  padding: 20px;
}

.forgot-password-container {
  padding: 40px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  opacity: 0;
  transform: translateY(-50px);
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.forgot-password-container.show {
  animation: slideDown 1s forwards;
}

.forgot-password-title {
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.forgot-password-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.forgot-password-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.forgot-password-links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%; /* Ensure the container takes full width */
}

.forgot-password-link {
  color: #485869;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 20px;
  border: 1px solid #485869;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.forgot-password-link:hover {
  background-color: #485869;
  color: #fff;
}

.forgot-password-button {
  padding: 10px;
  background-color: white;
  color: #485869;
  border: 1px solid #485869;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.forgot-password-button:hover {
  background-color: #485869;
  color: white;
}

.forgot-password-button, .forgot-password-link {
  transition: background-color 0.3s, color 0.3s;
}