/* src/Home.css */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');
/* Base styles */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 50vh;
  text-align: center;
  padding-top: 10%;
}

.logo-container {
  margin-bottom: 20px;
}

.tagline {
  font-size: 1.5rem; /* Adjusted by media queries */
  font-style: italic;
  font-weight: bold;
  margin: 20px 0;
  color: #555;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #485869;
  background-color: white;
  color: #485869;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #485869;
  color: #fff;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .tagline {
    font-size: 2rem; /* Larger text on tablets and above */
  }

  .home {
    padding-top: 15%; /* Slightly more padding on larger screens */
  }

  .button {
    font-size: 2rem;;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .tagline {
    font-size: 2.5rem; /* Even larger text on desktops */
  }

  .home {
    padding-top: 15%; /* Increase padding for desktop */
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .tagline {
    font-size: 3rem; /* Maximum size for the largest screens */
  }

  .home {
    padding-top: 15%; /* Maximum padding for a dramatic effect */
  }
}