.entry-card{
  transition: background-color 0.3s ease !important;
}

.entry-card:hover{
  background-color: #485869 !important;
  color: white !important;
}

.content-textarea{
  min-height: 145px !important;
}

button:disabled{
  background-color: #485869 !important;
  border-color: #485869 !important;
}

button:active {
  background-color: #27313b !important; /* Darker shade for active state */
  border-color: #27313b !important;
  color: white !important; /* Ensure text color is visible */
}

button{
  border-color: #485869 !important;
}
@media (min-width: 1400px) {
  .custom-xl-width {
    width: 1400px; /* Set your desired width here */
  }
}

.animation {
  animation: slideDown 1s forwards, fadeOut 2s 1s forwards;
}

@keyframes fadeOut{
  from {
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}