/* src/Login.css */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');

/* Base styles */


.login-container {
  padding: 40px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  opacity: 0;
  transform: translateY(-50px);
  animation: slideDown 0.5s forwards;
}

.login-button {
  padding: 10px;
  background-color: white;
  color: #485869;
  border: 1px solid #485869;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.login-button:hover {
  background-color: #485869;
  color: white;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.fixed-size-button {
  min-width: 150px; 
  max-width: 250px;
}