.entry-card{
  transition: background-color 0.3s ease !important;
}

.entry-card:hover{
  background-color: #485869 !important;
  color: white !important;
}

.content-textarea{
  min-height: 145px !important;
}