@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');




.button {
  padding: 10px;
  background-color: White;
  color: #485869;
  border: 1px solid #485869;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #485869;
  color: white;
}

.fixed-size-button {
  min-width: 100px; /* Adjust the width as needed */
}


.mood-button:hover,
.checked-mood {
  background-color: #485869; /* Same as mood-category hover background color */
  color: #fff; /* White text color */
}
.mood-button {
  transition: background-color 0.3s, color 0.3s;
}

.mood-button:hover,
.checked-mood {
  background-color: #485869; /* Same as mood-category hover background color */
  color: #fff; /* White text color */
}

